<%- include('../partials/head',{title:'NEA'}); %>
<body>
    <%- include('../partials/header') %>
    <main>

        <h1>DEMANDA NEA</h1>
        
        <div class="grafico" >
            <canvas id="myChart" width="400"  height="200"></canvas>
        </div>
        
        <div class="grafico1" >
            <canvas id="myTemp" width="400" height="100"></canvas>
            </div>
            <div class="tabla">
                <table >
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>demHoy</th>
                            <th>demAyer</th>
                            <th>demSemAnt</th>
                            <th>TemHoy</th>
                            <th>TemAyer</th>
                            <th>TemSemAnt</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <% nea.forEach(dat => { %>
                            <tr>
                                <td><%= dat.fecha %></td>
                                <td><%= dat.demHoy %></td>
                                <td><%= dat.demAyer %></td>
                                <td><%= dat.demSemanaAnt %></td>
                                <td><%= dat.tempHoy %></td>
                                <td><%= dat.tempAyer %></td>
                                <td><%= dat.tempSemanaAnt %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
<script src="/js/grafNea.js"></script>
</body>
</html>