<%- include('../partials/head',,{title:'Profile'}); %>

<body>

    <%- include('../partials/header') %>
<main>

    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-3">
                <h2>Hi <%= user.first_name %>
                    <%= user.last_name %>
                </h2>
                <img src="../image/users/<%= user.avatar %> ">
                <br>
                <br>
                <div class="alert alert-success">
                    <%= user.email %>
                </div>
            </div>
        </div>
    </div>
    
</main>


</body>

</html>