<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FORM CREAR</title>
</head>
<body>
    <h1>FORMULARIO DE EDITAR PRODUCTO</h1><br>
    <H2>COMPLETAR</H2><br>
    
 <% productEdit.forEach(prod => { %>
     
<form action="/products/update/<%= prod.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
<input type="text" name="name" id="name" value=<%= prod.name %>> <br>
<textarea type="text"  name="description" id="description"> <%= prod.description %> </textarea><br>
<input type="text" name="color" id="color" value=<%= prod.color %> ><br>
<input type="number" name="discount" id="discount" value=<%= prod.discount %> ><br>
<input type="number"   name="price" id="price" value=<%= prod.price %> ><br>
<div>
<img src="/image/<%= prod.image %>" alt="">
<input type="file"  name="image" id="image" value=<%= prod.image %> ><br>
</div>
<select name="type" id="type"><br>
    <option value= <%= prod.type %>> <%= prod.type %> </option>

</select><br>
<button type="submit">editar </button>




</form>
<% }) %>


</body>
</html>