<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>FORM CREAR</title>
</head>
<body>
    <h1>FORMULARIO DE CREACION DE PRODUCTO</h1><br>
    <H2>COMPLETAR</H2><br>

    <% errores.forEach(msg => { %>
    <p><%= msg %></p>
     <% }) %>

     <% datCargados.forEach(element => { %>
       
      
      
 <form action="/products/create" method="POST" enctype="multipart/form-data">

<input type="text" name="name" id="name" placeholder="NOMBRE" value=<%= element.name %>> <br>
<input type="text"  name="description" id="description" placeholder="DESCRIPCION" value=<%= element.description %>><br>
<input type="text" name="color" id="color" placeholder="COLOR" value=<%= element.color %>><br>
<input type="number" name="discount" id="discount" placeholder="DESCUENTO" value=<%= element.discount %>><br>
<input type="number"   name="price" id="price" placeholder="PRECIO"  value=<%= element.price %>><br>
<input type="file"  name="image" id="image" placeholder="IMAGEN"><br>
<select name="type" id="type" placeholder="TIPO" ><br>
    <option value="visited">nuevo</option>
    <option value="in sale">oferta</option>
    <option value="new">mas visitado</option>
</select><br>
<button type="submit">crear </button>

</form>

<% }) %>  
</body>
</html>